@charset "UTF-8";
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, main, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

input {
  border-radius: 0;
}

img {
  width: 100%;
}

ul, ol {
  list-style: none;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 2.3em;
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 2.3em;
  margin-bottom: 0.6em;
  font-weight: 600;
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6em;
  font-weight: 500;
  margin-bottom: 0.5em;
}

p, li, label {
  font-family: "Open Sans", sans-serif;
  color: rgba(19, 68, 113, 0.866);
}

p {
  font-size: 1.2em;
}

.btn {
  background-color: #030314;
  color: white;
  box-shadow: 0 5px 20px 0 rgba(151, 204, 241, 0.7411764706);
  padding: 0.5em 1.5em;
  font-size: 18px;
  border: none;
  border-radius: 50px;
  margin-top: 0.7em;
  cursor: pointer;
  display: block;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  width: fit-content;
}
.btn:hover {
  background-color: black;
}

.link {
  color: #1a1b5c;
  text-decoration: none;
  font-weight: 500;
}
.link:hover {
  color: #090920;
}

.nav-container {
  width: 100%;
}

.nav-container a {
  text-decoration: none;
}

.pc-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.9em 2em;
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: white;
  box-shadow: rgba(34, 34, 136, 0.1019607843) 2px 3px 3px 3px;
  height: 65px;
  max-height: 65px;
}

.nav-active {
  background-color: #030314;
}
.nav-active .nav-item {
  color: white;
}
.nav-active .nav-item:hover {
  color: #030314;
}
.nav-active .nav-list li a:after {
  background: rgba(217, 243, 250, 0.964);
}

.nav-list {
  display: flex;
}

.nav-list li a,
.nav-list li a:after,
.nav-list li a:before {
  transition: all 0.4s;
}

.nav-list li a {
  position: relative;
  z-index: 1;
}

.nav-list li a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: ".";
  color: transparent;
  background: #030314;
  visibility: none;
  opacity: 0;
  z-index: -1;
}

.nav-list li a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

.nav-item {
  font-size: 1em;
  color: #030314;
  font-weight: 500;
  cursor: pointer;
  display: block;
  padding: 21px 15px 21px 15px;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 10px;
}
.nav-item:hover {
  color: #E2F3FA;
}

.small-nav-menu {
  display: none;
}

.logo-container {
  width: 40px;
  cursor: pointer;
}

#toggle-menu {
  display: none;
}

.banner-container {
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
  padding: 140px;
  width: 100%;
  background-color: #030314;
}
.banner-container .portrait-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  animation: slideLeft 1s ease-in-out forwards;
}
.banner-container .portrait-banner img {
  width: 100%;
  object-fit: cover;
  min-width: 10em;
  max-width: 20em;
  max-height: 20em;
  animation: morph 3.5s linear infinite;
}
.banner-container .text-banner {
  display: flex;
  text-align: center;
  align-items: center;
  color: #E2F3FA;
  animation: slideRight 1s ease-in-out forwards;
}

@keyframes slideRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes morph {
  0%, 100% {
    border-radius: 40% 60% 70% 30%/40% 40% 60% 50%;
  }
  34% {
    border-radius: 70% 30% 50% 50%/30% 30% 70% 70%;
  }
  67% {
    border-radius: 100% 60% 60% 100%/100% 100% 60% 60%;
  }
}
@media screen and (max-width: 1024px) {
  .banner-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 1024px) {
  .pc-nav {
    display: none;
  }
  .small-nav-menu,
  .small-nav-menu * {
    box-sizing: border-box;
  }
  .small-nav-menu {
    height: 65px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: white;
    box-shadow: rgba(34, 34, 136, 0.1019607843) 2px 3px 3px 3px;
  }
  #toggle-menu {
    position: fixed;
    top: 65px;
    right: 0;
    left: 0;
    background-color: #030314;
    z-index: 2;
    padding: 3em 2em;
    height: 70vh;
    transition: height 1s linear;
  }
  #toggle-menu ul {
    height: fit-content;
    transition: height 0.4s linear;
    padding-top: 2em;
    position: relative;
    opacity: 0;
    animation: menuToggleClose 400ms forwards;
    overflow: hidden;
  }
  #toggle-menu li {
    text-align: center;
    color: #E2F3FA;
    font-size: 2em;
    margin-bottom: 1em;
    font-weight: 500;
    cursor: pointer;
  }
  @keyframes menuToggleClose {
    0% {
      opacity: 0;
      bottom: 0em;
    }
    100% {
      opacity: 1;
      bottom: -2em;
    }
  }
  @keyframes menuToggleOpen {
    0% {
      opacity: 1;
      bottom: -5em;
    }
    100% {
      opacity: 0;
      bottom: 0em;
    }
  }
  .display-none-menu {
    z-index: -1000;
    padding: 0;
    height: 0px;
    transition: height 0.3s linear;
  }
  .display-none-menu ul {
    transition: height 0.4s linear;
    height: 0px;
    opacity: 0;
    animation: menuToggleOpen 300ms forwards;
  }
  .menu {
    --front: #275EFE;
    --back: #D93757;
    --icon: white;
    perspective: 600px;
    width: 48px;
    height: 48px;
    position: relative;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  }
  .menu input {
    display: none;
  }
  .menu input + div span {
    --rotateY: 0deg;
    --background: var(--front);
    transform: rotateY(var(--rotateY));
    transform-style: preserve-3d;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: var(--background);
    backface-visibility: hidden;
    transition: transform 0.6s cubic-bezier(0.2, 0.64, 0.48, 1.24);
  }
  .menu input + div span:before, .menu input + div span:after {
    --rotate: 0deg;
    content: "";
    position: absolute;
    width: 16px;
    height: 2px;
    border-radius: 1px;
    top: 50%;
    left: 50%;
    background: var(--icon);
    backface-visibility: hidden;
    transform: translate(-50%, -50%) rotate(var(--rotate)) translateZ(6px);
  }
  .menu input + div span:first-child {
    --background: var(--back);
  }
  .menu input + div span:first-child:before {
    --rotate: -45deg;
  }
  .menu input + div span:first-child:after {
    --rotate: 45deg;
  }
  .menu input + div span:last-child {
    --rotateY: 180deg;
  }
  .menu input + div span:last-child:before {
    box-shadow: 0 -5px 0 var(--icon), 0 5px 0 var(--icon);
  }
  .menu input + div span:last-child:after {
    display: none;
  }
  .menu input:checked + div span:first-child {
    --rotateY: -180deg;
  }
  .menu input:checked + div span:last-child {
    --rotateY: 0deg;
  }
  .dribbble {
    visibility: hidden;
    position: fixed;
    display: block;
    right: 20px;
    bottom: 20px;
  }
  .dribbble img {
    display: none;
    height: 28px;
  }
}
.main-footer {
  background-color: #030314;
  padding: 2em;
}
.main-footer p {
  color: white;
  text-align: center;
  margin-top: 1em;
}

.icones-container {
  display: flex;
  justify-content: center;
}

.svg-container {
  margin-right: 5px;
  margin-left: 5px;
  border: 1px solid white;
  padding: 6px;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.svg-container:hover {
  opacity: 0.7;
}

.a-propos {
  padding: 10em 0;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 0.8s;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.a-propos h2 {
  text-align: center;
  color: #030314;
}
.a-propos p {
  text-align: center;
  color: #030314;
  font-weight: bold;
}

.card-ability {
  display: flex;
  flex-direction: column;
  background-color: rgba(217, 243, 250, 0.964);
  width: 30%;
  box-shadow: 15px 20px 8px 0 rgba(88, 88, 183, 0.288);
  border-radius: 15px;
  text-align: center;
  align-items: center;
  padding-top: 2em;
  height: 310px;
}

.logo-div {
  width: 50px;
  height: 50px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-margin-bottom {
  margin-bottom: 10px;
}

.ability {
  background-color: #030314;
  padding: 3em 2em;
  border-bottom: 20px solid transparent;
  border-image: linear-gradient(to right, #1a1b5c 20%, #E2F3FA 80%);
  border-image-slice: 1;
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 100% 0%, 100% 80%, 80% 100%, 20% 100%, 0% 80%); /* Créer la forme polygonale */
}
.ability h2 {
  text-align: center;
  color: #E2F3FA;
  margin-bottom: 3em;
}
.ability p {
  font-weight: 600;
  color: rgb(7, 19, 148);
  text-shadow: 2px 2px 4px rgba(3, 3, 15, 0.5);
}

.ability-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 90%;
  max-width: 1200px;
  margin: 8em auto 0 auto;
  height: 450px;
}

@media screen and (max-width: 1024px) {
  .ability-container {
    display: flex;
    flex-flow: column;
    gap: 10px;
    align-items: center;
    height: auto;
    width: auto;
  }
  .card-ability {
    width: 200px;
  }
}
.portfolio {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#works-area {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  justify-content: center;
  align-items: center;
  padding: 0 10em;
}

/* Styles pour les cartes */
.card {
  position: relative;
  max-width: 600px;
  height: 300px;
  border: 1px solid #ddd;
  box-shadow: 15px 20px 8px 0 rgba(88, 88, 183, 0.288);
  border-radius: 15px;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05); /* Agrandir légèrement la carte au survol */
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  overflow: hidden;
  transition: opacity 0.3s ease-in-out, opacity 0.3s ease-in-out;
  border-radius: 15px;
}

.card:hover img {
  opacity: 0.7;
}

.preview-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 50, 0.8);
  color: #E2F3FA;
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  top: 0; /* Position at the top of the card */
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.card:hover .preview-title {
  opacity: 1;
}

/* Styles pour la modale */
.modal {
  position: fixed;
  display: table;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.903);
  z-index: 1;
  transform: scaleY(0.005) scaleX(0);
}

.modal-content {
  height: 80%;
  max-width: 1400px;
  background-color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 20px;
  border-radius: 5px;
  width: 90%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  overflow: auto;
}

.modal-content h2 {
  text-align: center;
  font-size: 24px;
  color: #030314;
}

.modal-info {
  padding: 5rem;
}

.modal-images {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 2rem;
  max-height: 30rem;
  width: 100%;
}

.modal-images img {
  object-fit: contain;
  width: 50%;
  height: auto;
}

.modal-images img.full-size {
  width: 100%;
  height: 100%;
  object-fit: contain; /* ou cover selon vos besoins */
  position: absolute;
  top: 0;
  left: 0;
}

.modal-text {
  display: flex;
  width: 100%;
  gap: 20px;
  justify-content: center;
}
.modal-text div {
  width: 50%;
  text-align: center;
}

.modal-text p {
  font-size: 1.3em;
  color: #555;
  margin-bottom: 30px;
}

.modal-text a {
  text-decoration: none;
  width: 15em;
  background-color: #030314;
  color: white;
  padding: 0.8em 1.1em;
  font-size: 18px;
  border: none;
  border-radius: 30px;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}
.modal-text a:hover {
  background-color: black;
  transform: scale(1.05);
  box-shadow: 0 5px 20px 0 rgba(62, 117, 235, 0.8);
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #888;
  cursor: pointer;
}

.close-modal:hover {
  color: #f00;
}

.modal-open {
  transform: scaleY(1) scaleX(1);
  animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.modal-close {
  transform: scaleY(0.005) scaleX(0);
  animation: unfoldOut 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

@keyframes unfoldIn {
  0% {
    transform: scaleY(0.005) scaleX(0);
  }
  50% {
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    transform: scaleY(1) scaleX(1);
  }
}
@keyframes unfoldOut {
  0% {
    transform: scaleY(1) scaleX(1);
  }
  50% {
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    transform: scaleY(0.005) scaleX(0);
  }
}
@media screen and (max-width: 1024px) {
  #works-area {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    height: auto;
    width: auto;
    padding: 0;
  }
  .card {
    width: 250px;
    height: 200px;
  }
  .modal {
    display: flex;
    flex-direction: column;
  }
  .modal-info {
    padding: 2rem;
  }
  .modal-images {
    flex-direction: column;
    max-height: 10%;
  }
  .modal-images img {
    width: 100%;
    max-width: 100%;
  }
  .modal-text {
    flex-direction: column;
    justify-content: center;
  }
  .modal-text div {
    width: 100%;
  }
  .modal-text p {
    font-size: 0.9rem;
  }
}
.form-contact {
  position: relative;
  background-color: #030314;
  padding: 3em 0;
  margin: 5em auto 0;
  border: 20px solid transparent;
  border-image: linear-gradient(to right, #1a1b5c 20%, #E2F3FA 80%);
  border-image-slice: 1;
  clip-path: polygon(0% 20%, 20% 0%, 80% 0%, 100% 20%, 100% 80%, 100% 100%, 0% 100%, 0% 100%); /* Créer la forme polygonale */
}
.form-contact h2 {
  color: #E2F3FA;
  text-align: center;
}

.form-contact::before {
  content: "";
  position: absolute;
  top: -10px;
  right: -10px;
  bottom: -10px;
  left: -10px;
  border: 10px solid transparent;
  border-image: linear-gradient(to right, #1a1b5c 20%, #E2F3FA 80%);
  border-image-slice: 1;
  filter: blur(15px); /* Ajustez la valeur du flou selon vos préférences */
  z-index: -1; /* Placez la pseudo-classe derrière le contenu */
}

.form-section {
  display: flex;
  justify-content: center;
}

.formulaire {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-input {
  display: flex;
  flex-flow: column;
  width: 20em;
  margin-bottom: 0.8em;
}

label {
  margin-bottom: 6px;
  color: #030314;
}

input {
  padding: 0.7em;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px 10px 0 rgba(89, 89, 241, 0.9490196078);
}

.message {
  resize: none;
  height: 150px;
  border: none;
  border-radius: 15px;
  padding: 1em;
  font-family: "Roboto", sans-serif;
  box-shadow: 0 5px 20px 0 rgba(89, 89, 241, 0.9490196078);
}

@keyframes pulseButton {
  0% {
    transform: scale(1);
    box-shadow: 0 5px 20px 0 rgba(62, 117, 235, 0.6);
  }
  50% {
    transform: scale(1.1);
    box-shadow: 0 5px 20px 0 rgba(62, 117, 235, 0.8);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 5px 20px 0 rgba(62, 117, 235, 0.6);
  }
}
.submit-message {
  width: 15em;
  background-color: #030314;
  color: white;
  padding: 0.8em 1.1em;
  font-size: 18px;
  border: none;
  border-radius: 30px;
  margin-top: 0.7em;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  /* Animation pour l'effet de pulsation sur le bouton */
  animation: pulseButton 2s linear infinite; /* Appliquer l'animation d'effet de pulsation au bouton */
}
.submit-message:hover {
  background-color: black;
  transform: scale(1.05);
  box-shadow: 0 5px 20px 0 rgba(62, 117, 235, 0.8);
}

@media screen and (max-width: 415px) {
  .form-input {
    width: 13em;
  }
  .submit-message {
    width: 10em;
  }
}

/*# sourceMappingURL=styles.css.map */
