.a-propos {
    padding: 10em 0;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
    animation-delay: 1.8s;

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    h2 {
        text-align: center;
        color: $primary-color;
    }   

    p{
        text-align: center;
        color: $primary-color;
        font-weight: bold;
    }
}

.card-ability {
    display: flex;
    flex-direction: column;
	background: linear-gradient(to top, $primary-color , $dark-blue);
	width: 30%;
	box-shadow: inset $dark-blue 0px 20px 30px -10px;
	border-radius: 15px;
	text-align: center;
    align-items: center;
    padding-top: 2em;
	height: 310px;
}
.logo-div {
	width: 50px;
	height: 50px;
    padding-bottom: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.p-margin-bottom {
	margin-bottom: 10px;
} 

.ability {
	background-image: linear-gradient(rgba(0, 0, 0, 0.742),rgba(0, 0, 0, 0.595)) , url("../../images/card-portfolio/computer.jpg");
    min-height: 500px;
	padding: 3em 2em;
    border-bottom: 20px solid transparent;
    border-image: linear-gradient(to right, $primary-color 10%, $dark-blue 90%);
    border-image-slice: 1;   
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 100% 00%, 100% 80%, 80% 100%, 20% 100%, 0% 80%); /* Créer la forme polygonale */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

	h2 {
		text-align: center;
		color: $light-blue;
		margin-bottom: 3em;
	}
    p {
        font-weight: 600;
        color: $light-blue;
        text-shadow: 2px 2px 4px rgba(3, 3, 15, 0.5);
    }

    h3 {
        color: $light-blue;
        font-weight: 800;
    }
}

.ability-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	width: 90%;
	max-width: 1200px;
	margin: 8em auto 0 auto;
	height:450px;
}

@media screen and (max-width:1024px) {
	.ability-container {
        display: flex;
		flex-flow: column;
		gap: 10px;
		align-items: center;
        height: auto;
        width: auto;
	}

    .card-ability {
        width: 200px;
    }
}