*, *:before, *:after{
	box-sizing: border-box;
    margin: 0;
    padding: 0;      
}

html {
    scroll-behavior: smooth;
}
      
      html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, main, footer, header, nav, section, video{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    }
      
      input{
	border-radius: 0;
      }
      
      img {
	width: 100%;
      }
      
      ul, ol {
	list-style: none;
      }

    h1 {
        font-family: 'Open Sans', sans-serif;
        font-size: 2.3em;
    }
    
    h2 {
        font-family: 'Open Sans', sans-serif;
        font-size: 2.3em;
        margin-bottom: 0.6em;
        font-weight: 600;
    }
    
    h3 {
        font-family: 'Open Sans', sans-serif;
        font-size: 1.6em;
        font-weight: 500;
        margin-bottom: 0.5em;
    }
    
    p, li, label{
        font-family: 'Open Sans', sans-serif;
        color: rgba(19, 68, 113, 0.866);
    }

    p {
        font-size: 1.2em;
    }